@font-face {
    src: url("../fonts/Oxygen-Bold.ttf");
    font-family: OxyBold;
}

@font-face {
    src: url("../fonts/Oxygen-Regular.ttf");
    font-family: OxyReg;
}

@font-face {
    src: url("../fonts/Oxygen-Light.ttf");
    font-family: OxyLight;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein-bottom {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
@keyframes fadein-bottom {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout-bottom {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout-bottom {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

body {
    margin: 0;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

#welcome {
    background-color: #0C0E1A;
    z-index: -10;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70vh;
}

#welcome h1 {
    font-family: OxyReg;
    text-align: center;
    font-size: 60px;
    color: white;
    margin-top: 7%;
}


button {
    width: 200px;
    height: 50px;
    background-color: #4234F8;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border-color: #4234F8;
    outline: none;
    font-family: Heebo;
    margin: 0% 1%;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    
}

button a {
    color: white;
    text-decoration: none;
    display: block;
}

button:hover {
    background-color: #594dfa;
    color: white;
    cursor: pointer;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    
}

.remove-sub-event {
    font-family: OxyReg;
    width: 25px;
    height: 25px;
    background-color: rgb(255,80,64);
    border: none;
}

.remove-sub-event:hover{
    background-color: #ef3436;
}

#schedule {
    text-align: center;
    margin: 0% 10%;
    margin-top: 20%;
}

.eventCards {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    border: 1px #4234F8 solid;
    padding: 1% 2.5%;
    text-align: left;
    margin-bottom: 3%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventCards h1 {
    font-family: OxyReg;
    font-size: 40px;
    margin: 0;
    
}

.eventCards h2 {
    font-family: OxyLight;
    font-size: 30px;
    margin: 0;
    color: #4234F8; 
    padding-top: 1%;
}


#cardsContainer {
    margin: 0% 10%;
    margin-top: 3%;
}

#create-event-form {
    margin: 0% 20%;
    margin-top: 3%;
    font-family: OxyLight;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#create-event-form input {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    outline: none;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px lightgray solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-form textarea {
    padding: 15px;
    width: 100%;
    border: 1px lightgray solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

.subtaskName {
    margin-top: 2%;
    width: 200px;
    font-size: 20px;
    padding: 15px;
    outline: none;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px lightgray solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

.subtaskName:focus{
    border: 1px #4234F8 solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

::placeholder {
    font-family: OxyLight;
    color: #333;
}

#create-event-form input:focus {
    border: 1px #4234F8 solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-form textarea:focus{
    border: 1px #4234F8 solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-goals{
    height: 20%;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px #4234F8 solid;
}

.subEvents {
    font-family: OxyReg;

}

.subEvents li {
    list-style-type: none;
    font-size: 20px;
}

.cardInfo {
    display: inline-block;
    width: 50%;
}

.completePercent {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    font-size: 50px;
    text-align: right;
    font-family: OxyReg;
}

#cardsContainer {
    margin-top: 3%;
}

#create-event-form {
    margin: 0% 20%;
    margin-top: 3%;
    font-family: OxyLight;
}

#create-event-form input {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    outline: none;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px lightgray solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-form textarea {
    width: 100%;
    border: 1px lightgray solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

::placeholder {
    font-family: OxyLight;
    color: #333;
}

#create-event-form input:focus {
    border: 1px #4234F8 solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-form textarea:focus{
    border: 1px #4234F8 solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-goals{
    height: 20%;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px #4234F8 solid;
}

.subEvents {
    font-family: OxyReg;

}

.subEvents li {
    list-style-type: none;
    font-size: 20px;
}

.cardInfo {
    display: inline-block;
    width: 50%;
}

.completePercent {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    font-size: 50px;
    text-align: right;
    font-family: OxyReg;
}

.delete-card {
    margin: 0;
    margin-top: 2%;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.addSubEvent {
    margin: 0;
    margin-top: 2%;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.addSubEvent:hover{
    background-color: rgb(57,193,108);
    border-color: rgb(57,193,108);
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}


.delete-card:hover {
    background-color: #f54542;
    border-color: #f54542;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.not-complete {
    color: #ef3436;
}

.halfway {
    color: #e26143;
}

.almost-complete {
    color: #ffb506;
}

.complete {
    color: #029e5e;
}

#snackbar-success {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    /* background-color: #39C16C; Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-family: OxyReg;
    background:rgba(57,193,108,0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

#snackbar-fail {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    /* background-color: #39C16C; Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-family: OxyReg;
    background:rgba(255,80,64,0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

#snackbar-success.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
    animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
}

#snackbar-fail.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
    animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
}