@font-face {
    src: url("../fonts/Oxygen-Bold.ttf");
    font-family: OxyBold;
}

@font-face {
    src: url("../fonts/Oxygen-Regular.ttf");
    font-family: OxyReg;
}

@font-face {
    src: url("../fonts/Oxygen-Light.ttf");
    font-family: OxyLight;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    margin: 0;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}


button {
    width: 200px;
    height: 50px;
    background-color: #4234F8;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border-color: #4234F8;
    outline: none;
    font-family: OxyReg;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    margin: 0% 2%;
}

button a {
    color: white;
    text-decoration: none;
    display: block;
}

button:hover {
    background-color: #594dfa;
    color: white;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    cursor: pointer;
}

#schedule {
    text-align: center;
    margin: 0% 10%;
    margin-top: 10%;
}

.eventCards {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    border: 1px #4234F8 solid;
    padding: 1% 2.5%;
    text-align: left;
    margin-bottom: 3%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventCards h1 {
    font-family: OxyReg;
    font-size: 40px;
    margin: 0;
    
}

.eventCards h2 {
    font-family: OxyLight;
    font-size: 30px;
    margin: 0;
    color: #4234F8; 
    padding-top: 1%;
}


#cardsContainer {
    margin-top: 3%;
}

#create-event-form {
    margin: 0% 20%;
    margin-top: 3%;
    font-family: OxyLight;
}

#create-event-form input {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    outline: none;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px lightgray solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-form textarea {
    padding: 15px;
    width: 100%;
    border: 1px lightgray solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

::placeholder {
    font-family: OxyLight;
    color: #333;
}

#create-event-form input:focus {
    border: 1px #4234F8 solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-form textarea:focus{
    border: 1px #4234F8 solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-goals{
    height: 20%;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px #4234F8 solid;
}

.subEvents {
    font-family: OxyReg;

}

.subEvents li {
    list-style-type: none;
    font-size: 20px;
}

/* .completed {
    color: green;
}

.incomplete {
    color: red;
} */

.cardInfo {
    display: inline-block;
    width: 50%;
}

.completePercent {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    font-size: 50px;
    text-align: right;
    font-family: OxyReg;
}

#cardsContainer {
    margin-top: 3%;
}

#create-event-form {
    margin: 0% 20%;
    margin-top: 3%;
    font-family: OxyLight;
}

#create-event-form input {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    outline: none;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px lightgray solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-form textarea {
    width: 100%;
    border: 1px lightgray solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

::placeholder {
    font-family: OxyLight;
    color: #333;
}

#create-event-form input:focus {
    border: 1px #4234F8 solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-form textarea:focus{
    border: 1px #4234F8 solid;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}

#create-event-goals{
    height: 20%;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px #4234F8 solid;
}

.subEvents {
    font-family: OxyReg;

}

.subEvents li {
    list-style-type: none;
    font-size: 20px;
}

/* .completed {
    color: green;
}

.incomplete {
    color: red;
} */

.cardInfo {
    display: inline-block;
    width: 50%;
}

.completePercent {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    font-size: 50px;
    text-align: right;
    font-family: OxyReg;
}

.delete-card {
    margin: 0;
    margin-top: 2%;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.delete-card:hover {
    background-color: #f54542;
    border-color: #f54542;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.not-complete {
    color: #f54542;
}

.halfway {
    color: #ff7817;
}

.almost-complete {
    color: #5cde1b;
}

.complete {
    color: #3261d9;
}