body {
    margin: 0;
}

/* .float-left-div{
    display: block;
    float: left;
    width: 50%;
} */

button {
    width: 200px;
    height: 50px;
    background-color: white;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    border: 2px black solid;
}

button:hover {
    background-color: #333;
    color: white;
}

#schedule {
    text-align: center;
    margin: 0% 10%;
    margin-top: 10%;
}

.eventCards {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    border: 2px black solid;
    padding: 1% 2.5%;
    text-align: left;
    margin-bottom: 3%;
}


#cardsContainer {
    margin-top: 3%;
}

#create-event-form {
    margin-top: 3%;
}

#create-event-form input {
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 2px black solid;
}

#create-event-goals{
    height: 20%;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 2px black solid;
}

.subEvents li {
    list-style-type: none;
    font-size: 20px;
}

.completed {
    color: green;
}

.incomplete {
    color: red;
}

.cardInfo {
    float: left;
    width: 50%;
}

.completePercent {
    width: 50%;
    float: right;
}