@font-face {
    src: url("../fonts/Oxygen-Bold.ttf");
    font-family: OxyBold;
}

@font-face {
    src: url("../fonts/Oxygen-Regular.ttf");
    font-family: OxyReg;
}

@font-face {
    src: url("../fonts/Oxygen-Light.ttf");
    font-family: OxyLight;
}

body {
    margin: 0;
}


button {
    width: 200px;
    height: 50px;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px #4234F8 solid;
    font-family: OxyLight;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    margin: 0% 5%;
}

button:hover {
    background-color: #4234F8;
    color: white;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#schedule {
    text-align: center;
    margin: 0% 10%;
    margin-top: 10%;
}

.eventCards {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    border: 1px #4234F8 solid;
    padding: 1% 2.5%;
    text-align: left;
    margin-bottom: 3%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventCards h1 {
    font-family: OxyReg;
    font-size: 40px;
    margin: 0;
    
}

.eventCards h2 {
    font-family: OxyLight;
    font-size: 30px;
    margin: 0;
    color: #4234F8; 
}


#cardsContainer {
    margin-top: 3%;
}

#create-event-form {
    margin-top: 3%;
    font-family: OxyLight;
}

#create-event-form input {
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px #4234F8 solid;
}

#create-event-goals{
    height: 20%;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px #4234F8 solid;
}

.subEvents {
    font-family: OxyReg;

}

.subEvents li {
    list-style-type: none;
    font-size: 20px;
}

/* .completed {
    color: green;
}

.incomplete {
    color: red;
} */

.cardInfo {
    display: inline-block;
    width: 50%;
}

.completePercent {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    font-size: 50px;
    text-align: right;
    font-family: OxyReg;
}